.book {
  min-height: 329px;
  background-image: url(../../img/book/book-background.png);
  /* background-color: #0e0e0e; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
