.ai__title {
  /* margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px; */
  /* identical to box height, or 112% */
  /* text-align: center;
  color: #000; */
}
